.dashboard-main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

  &__connection {
    padding: 17px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    color: $connection-color;
    border: 1px solid $border-color;
  }
}

.editors-select {
  border-color: white !important;
}

.dashboard-main-wrapper-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  @include media (desktop){
    flex-direction: row;

    width: 100%;
  }
}

.dashboard-main-content-block_table {
  padding: 10px 12px;
  background-color: $cards-bg-color;

  .info-table {
    border: 0.5px solid $border-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 0.12px;
    width: 100%;
  }
}

.dashboard-main-content-block__header{
  padding: 10px 5px;
}

.content-info {
  height: 120px;

  @include media(tablet){
    height: 130px;
  }

  @include media(desktop){
    height: 200px;
  }
}

.content-sessions {
  height: 200px;
  overflow: auto;
}

.sessions-table {
  border: 0.5px solid $border-color;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: 0.12px;
  overflow: auto;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    background-color: $connection-color;
    border-radius: 2px;
    border: none;
  }

  .table-action {
    display: flex;
    align-items: center;
    gap: 5px;

    @include media(desktop){
      gap: 20px;
    }
  }
}

.dashboard-main-wrapper-content__side-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.dashboard-main-wrapper-content__side-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include media(desktop){
    margin-top: auto;
  }

  .dashboard-main-content-gauges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: $cards-bg-color;

    @include media (desktop){
      height: 255px;
      width: 100%;
    }
  }
}

th {
  background-color: $table-header-gb;
  padding: 7px ;
  font-size: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: left;
  @include media(tablet){
    font-size: 12px;
  }
  @include media(desktop){
    font-size: 14px;
    padding: 12px;
  }
}

td {
  padding: 7px ;
  font-size: 10px;

  @include media(tablet){
    font-size: 12px;
  }
  @include media(desktop){
    font-size: 14px;
    padding: 12px;
  }
}

.gauge-text-default-color{
  fill: $secondary-text-color;
}


