.dashboard-main-wrapper {
}

.dashboard-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  gap: 30px;

  &__connection {
    padding: 17px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    color: $connection-color;
    border: 1px solid $border-color;
  }
}

.editors-select {
  border-color: white !important;
}

.dashboard-main-wrapper-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;

  @include media (desktop){
    flex-direction: row;
    gap: 100px;
  }
}

.dashboard-main-content-block_table {
  padding: 10px 12px;
  background-color: $cards-bg-color;
  width: 320px;

  .info-table {
    border: 0.5px solid $border-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 0.12px;
    width: 100%;

    @include media(desktop){
      width: 380px;
    }

    td {
      padding: 5px;
    }
  }
}

.content-info {
  height: 120px;
}
.content-sessions {
  height: 200px;
  overflow: auto;
}

.sessions-table {
  border: 0.5px solid $border-color;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: 0.12px;
  overflow: auto;

  & th {
    background-color: $table-header-gb;
    padding: 7px 12px;
  }

  & td {
    padding: 7px 20px;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    background-color: $connection-color;
    border-radius: 2px;
    border: none;
  }

  .table-action {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.dashboard-main-wrapper-content__side-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.dashboard-main-wrapper-content__side-right {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop){
    margin-top: auto;
  }

  .dashboard-main-content-gauges {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 180px;
    background-color: $cards-bg-color;

  }
}



.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: $main-text-color;
  background-color: $body-bg-color;
  padding: 13px 30px;
  outline: 1px solid $border-color;
}

.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  color: $main-text-color;
  background-color: $body-bg-color;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  fill: $main-text-color;
}
