@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../public/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../public/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../public/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
